:root {
  --font-family: "Plus Jakarta Sans", sans-serif;

  --color-primary: #24dfe2;
  --color-secondary: #b4ff2b;
  --color-tertiary: #ff9400;
  --color-neutral: #f8fafb;
  --color-white: #ffffff;
  --color-text: #333333;
  --color-shadow: #000000;
  --color-shadow-cyan: #24dfe2;

  --radius-small: 8px;
  --radius-medium: 16px;
  --radius-large: 32px;
  --radius-full: 9999px;

  --spacing-small: 8px;
  --spacing-medium: 16px;
  --spacing-large: 24px;
  --spacing-xlarge: 40px;

  --shadow-light: 0px 2px 2px rgba(0, 0, 0, 0.1);
  --shadow-medium: 0px 2px 5px rgba(36, 223, 226, 0.2);
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: var(--color-neutral);
  color: var(--color-text);
  font-family: var(--font-family);
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: var(--font-family);
}

.text-headline-1 {
  font-size: 32px;
  font-weight: 400;
}
.text-headline-2 {
  font-size: 24px;
  font-weight: 400;
}
.text-headline-3 {
  font-size: 20px;
  font-weight: 700;
}
.text-body-large {
  font-size: 18px;
  font-weight: 400;
}
.text-body-medium {
  font-size: 16px;
  font-weight: 400;
}
.text-body-small {
  font-size: 14px;
  font-weight: 400;
}
.text-label {
  font-size: 14px;
  font-weight: 700;
}
